attrs==19.1.0
awscli==1.16.214
backcall==0.1.0
beautifulsoup4==4.8.0
bleach==3.1.0
boto==2.49.0
boto3==1.9.204
botocore==1.12.204
bs4==0.0.1
certifi==2019.6.16
chardet==3.0.4
colorama==0.3.9
decorator==4.4.0
defusedxml==0.6.0
Django==2.2.4
django-core==1.4.1
django-extensions==2.2.1
django-storages==1.7.1
djangorestframework==3.10.2
docutils==0.14
entrypoints==0.3
idna==2.8
ipykernel==5.1.2
ipython==7.7.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
jedi==0.14.1
Jinja2==2.10.1
jmespath==0.9.4
jsonschema==3.0.2
jupyter==1.0.0
jupyter-client==5.3.1
jupyter-console==6.0.0
jupyter-core==4.5.0
MarkupSafe==1.1.1
mistune==0.8.4
mysqlclient==1.4.2.post1
nbconvert==5.6.0
nbformat==4.4.0
notebook==6.0.0
numpy==1.17.0
pandas==0.25.0
pandocfilters==1.4.2
parso==0.5.1
pickleshare==0.7.5
Pillow==6.1.0
prometheus-client==0.7.1
prompt-toolkit==2.0.9
pyasn1==0.4.6
Pygments==2.4.2
pyrsistent==0.15.4
python-dateutil==2.8.0
pytz==2019.2
pywinpty==0.5.5
PyYAML==5.1
pyzmq==18.1.0
qtconsole==4.5.2
requests==2.22.0
rsa==3.4.2
s3transfer==0.2.1
Send2Trash==1.5.0
six==1.12.0
soupsieve==1.9.3
sqlparse==0.3.0
terminado==0.8.2
testpath==0.4.2
tornado==6.0.3
traitlets==4.3.2
urllib3==1.25.3
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.5.1
wincertstore==0.2
